/*  ? Import Google fonts */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;800&family=Roboto:wght@400;900&display=swap');

/* 
? Mobile first
reset Styles
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #EEEDED;
    font-family: 'Roboto Slab', serif;
    width: 100vw;
}

h1 {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-decoration: underline;
    color: #403949;
    font-family: 'Roboto', sans-serif;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #403949;
    font-weight: 900;
}

.input-field {
    width: 100%;
    height: 1.625rem;
    text-align: center;
    border-radius: 1rem;
    border: 0.0625rem solid #403949;
    margin-top: 1rem;
    outline: none;
}

.input-field:focus {
    border: none;
    outline: none;
}

#btn {
    border: 0;
    outline: none;
    border-radius: 1rem;
    padding: .525rem .825rem;
    margin-top: 1rem;
    margin-left: 50%;
    transform: translateX(-50%);
    color: #fff;
    background-color: #403949;
}


/* Format Error message */

.failure {
    background-color: #be1616;
    color: #EEEDED;
    width: 55vw;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0.1875rem 0.1875rem 0.3125rem #555555;
    text-align: center;
}

.bold {
    font-weight: 700;
}


/*
? Weather Card Styles
*/

h2.weather {
    text-align: center;
    font-weight: 900;
    text-decoration: underline;
    margin-bottom: 1rem;
    color: #403949;
}

.weather-card {
    background-color: #403949;
    color: #EEEDED;
    width: 90vw;
    position: relative;
    padding: 1rem;
    box-shadow: 2px 3px 4px #555555;
    border-radius: 1rem;
    margin-bottom: 2rem;
    box-shadow: 2px 3px 4px #555555;
}

.weather-card h4 {
    text-align: center;
    font-size: 1rem;
    letter-spacing: 0.05rem;
    margin-bottom: 1rem;
}

.weather-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    letter-spacing: .1rem;
}

.main-weather-val {
    font-size: 1.6rem;
}

.humidity-val,
.sun-val,
.discription-weather-val,
.temp-val,
.visibility-val,
.temp-min-val {
    margin-bottom: 1.5rem;
}


/*
? Attractions Card style
*/

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.top-att-text {
    color: #403949;
}

.card {
    width: 90vw;
    background-color: #403949;
    box-shadow: 2px 3px 4px #555555;
    border-radius: 1rem;
    color: #EEEDED;
    padding: 1rem;
}

.card:not(:last-child) {
    margin-bottom: 1rem;
}

.card-title {
    text-decoration: underline;
    margin-bottom: .625rem;
}

.adress {
    padding: 0 1rem;
    font-size: 0.9375rem;
    line-height: 1.225rem;
    margin: 1rem 0;
}

.gmaps {
    font-size: 0.9375rem;
}

.gmaps a {
    background-color: #bd5858;
    display: inline-block;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    color: #EEEDED;
    font-weight: 900;
    padding: 0.625rem;
    border-radius: 1rem;
}

.top-att-text {
    margin-bottom: 1rem;
    font-weight: 900;
    text-decoration: underline;
}


/*
? Style for Screens wider than 400px
*/

@media screen and (min-width: 25em) {
    .weather-card {
        width: 45vw;
    }
    .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .card {
        width: 40vw;
        margin: 0rem 1rem;
        min-height: 15rem;
        position: relative;
    }
    .card:last-child {
        margin-bottom: 1rem;
    }
    .top-att-text {
        display: block;
        width: 90vw;
        text-align: center;
    }
    .gmaps a {
        position: absolute;
        width: 75%;
        bottom: 1rem;
    }
}


/*
? Style for Screens up to 10.5 inch
*/

@media screen and (min-width: 68.75em) {
    h1 {
        text-align: center;
        margin-top: 2rem;
        margin-bottom: 3rem;
    }
    .input-field {
        height: 2rem;
        border-radius: 1rem;
        border: 0.125rem solid #403949;
        margin-top: 2rem;
    }
    #btn {
        padding: .525rem 1.825rem;
        margin-top: 1.4rem;
        margin-left: 50%;
        transform: translateX(-50%);
    }
    .weather-card {
        width: 25vw;
    }
    .container {
        justify-content: center;
        margin-top: 4em;
    }
    .card {
        width: 25vw;
        text-align: center;
    }
    .top-att-text {
        font-size: 2rem;
    }
}